<!DOCTYPE html>

<html>

<head>
    <title> About </title>
    <link rel="icon" href="/img/weather.jpg">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p> This website was created by Sarvesh Paarthasarathy. It uses data from <a id="link" href="https://www.mapbox.com">mapbox.com</a> and <a id="link" href="https://www.weatherstack.com">weatherstack.com</a></p>
    <img class="portrait" src="/img/pic.jpg">
    <p> Hey there, I'm Sarvesh Paarthasarathy, sophomore Computer Science 
        student at McMaster University.
    </p>
    </div>
    
    {{>footer}}
</body>



</html>